RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www.)?glennscrap.com$
RewriteCond %{REQUEST_URI} !^/glennscrap/_site/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /glennscrap/$1
RewriteCond %{HTTP_HOST} ^(www.)?glennscrap.com$
RewriteRule ^(/)?$ glennscrap/_site/index.html [L]
