@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

$base-font-family: 'Source Code Pro', monospace !default;
$base-font-size:   1.6rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$text-color:       #CCBF82 !default;
$background-color: #080808 !default;
$brand-color:      #B8AF03 !default;
$mobile:           1024px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@import
	"modules/reset",
  "modules/base",
  "modules/layout",
  "modules/post",
  "modules/footer";

